.root {
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
}

.button {
    -fx-cursor: hand;
    -fx-background-radius: 5px;
    -fx-padding: 0.5em 1em;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 2);
    -fx-transition: all 0.3s;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0, 0, 4);
}

.text-field, .password-field {
    -fx-padding: 0 15px;
    -fx-background-radius: 5px;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #3498db;
    -fx-effect: dropshadow(gaussian, rgba(52, 152, 219, 0.3), 10, 0, 0, 2);
}

.hyperlink {
    -fx-text-fill: #3498db;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-underline: true;
}